.env/*
.ipynb_checkpoints/*
foodImageClassifier/classifier/.ropeproject/*
foodImageClassifier/foodImageClassifier/.ropeproject/*
Gaze_UPMC_Food20.zip
Gaze_UPMC_Food20/*
Importing pre-trained model.ipynb
dataset/*
db.sqlite3
images/*
*.pyc
*.npy
media_cdn/*
.ropeproject/*
model/*
floyd-hub/*
*.h5
*.json
